openapi: 3.0.3
info:
  description: Cosmo Tech Platform API
  title: Cosmo Tech Plaform API
  version: 0.0.1-SNAPSHOT
servers:
- url: https://api.azure.cosmo-platform.com
- url: http://localhost:4010
security:
- oAuth2AuthCode: []
tags:
- description: Platform Management
  name: platform
- description: Simulation Management
  name: simulation
- description: Simulator Management
  name: simulator
- description: Workspace Management
  name: workspace
- description: Connector Management
  name: connector
- description: Organization Management
  name: organization
- description: User Management
  name: user
- description: Scenario Management
  name: scenario
- description: Dataset Management
  name: dataset
paths:
  /platform:
    get:
      operationId: getPlatform
      responses:
        "200":
          content:
            application/json:
              examples:
                CosmoTechPlatform:
                  $ref: '#/components/examples/CosmoTechPlatform'
              schema:
                $ref: '#/components/schemas/Platform'
          description: the Platform details
      summary: Get the details of the platform
      tags:
      - platform
      x-accepts: application/json
    patch:
      operationId: updatePlatform
      requestBody:
        content:
          application/json:
            examples:
              CosmoTechPlatformUpdate:
                $ref: '#/components/examples/CosmoTechPlatformUpdate'
            schema:
              $ref: '#/components/schemas/Platform'
        description: the new Platform details.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                CosmoTechPlatformUpdated:
                  $ref: '#/components/examples/CosmoTechPlatformUpdated'
              schema:
                $ref: '#/components/schemas/Platform'
          description: the platform details
        "400":
          description: Bad request
        "404":
          description: the Platform specified is unknown or you don't have access
            to it
      summary: Update a platform
      tags:
      - platform
      x-contentType: application/json
      x-accepts: application/json
    post:
      operationId: createPlatform
      requestBody:
        content:
          application/json:
            examples:
              CosmoTechPlatform:
                $ref: '#/components/examples/CosmoTechPlatform'
            schema:
              $ref: '#/components/schemas/Platform'
        description: the Platform to create
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                CosmoTechPlatform:
                  $ref: '#/components/examples/CosmoTechPlatform'
              schema:
                $ref: '#/components/schemas/Platform'
          description: the platform details
        "400":
          description: Bad request
      summary: Create a new platform
      tags:
      - platform
      x-contentType: application/json
      x-accepts: application/json
  /organizations/{organization_id}/simulations/search:
    post:
      operationId: searchSimulations
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              BrewerySearch:
                $ref: '#/components/examples/BrewerySearch'
            schema:
              $ref: '#/components/schemas/SimulationSearch'
        description: the Simulation search parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                OneSimulation:
                  $ref: '#/components/examples/OneSimulation'
              schema:
                items:
                  $ref: '#/components/schemas/SimulationBase'
                type: array
          description: the simulation details
      summary: Search Simulations
      tags:
      - simulation
      x-contentType: application/json
      x-accepts: application/json
  /organizations/{organization_id}/simulations/start:
    post:
      operationId: startSimulationScenario
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              SimulationStartScenario:
                $ref: '#/components/examples/BrewerySimulationStartScenario'
            schema:
              $ref: '#/components/schemas/SimulationStartScenario'
        description: the Scenario information to start
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                Simulation:
                  $ref: '#/components/examples/BrewerySimulation'
              schema:
                $ref: '#/components/schemas/Simulation'
          description: the simulation details
        "400":
          description: Bad request
        "404":
          description: the Scenario specified is unknown or you don't have access
            to it
      summary: Start a new simulation for a Scenario
      tags:
      - simulation
      x-contentType: application/json
      x-accepts: application/json
  /organizations/{organization_id}/simulations/startsimulator:
    post:
      operationId: startSimulationSimulator
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              SimulationStartSimulator:
                $ref: '#/components/examples/BrewerySimulationStartSimulator'
            schema:
              $ref: '#/components/schemas/SimulationStartSimulator'
        description: the Simulator Analysis information to start
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                Simulation:
                  $ref: '#/components/examples/BrewerySimulationSimulator'
              schema:
                $ref: '#/components/schemas/Simulation'
          description: the simulation details
        "400":
          description: Bad request
        "404":
          description: the Scenario specified is unknown or you don't have access
            to it
      summary: Start a new simulation for a Simulator Analysis
      tags:
      - simulation
      x-contentType: application/json
      x-accepts: application/json
  /organizations/{organization_id}/simulations/startcontainers:
    post:
      operationId: startSimulationContainers
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              SimulationStartSimulator:
                $ref: '#/components/examples/BrewerySimulationStartContainers'
            schema:
              $ref: '#/components/schemas/SimulationStartContainers'
        description: the raw containers definition
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                Simulation:
                  $ref: '#/components/examples/BrewerySimulationContainers'
              schema:
                $ref: '#/components/schemas/Simulation'
          description: the simulation details
        "400":
          description: Bad request
        "404":
          description: the Scenario specified is unknown or you don't have access
            to it
      summary: Start a new simulation with raw containers definition
      tags:
      - simulation
      x-contentType: application/json
      x-accepts: application/json
  /organizations/{organization_id}/simulations/{simulation_id}:
    delete:
      operationId: deleteSimulation
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Simulation identifier
        explode: false
        in: path
        name: simulation_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Simulation:
                  $ref: '#/components/examples/BrewerySimulation'
              schema:
                $ref: '#/components/schemas/Simulation'
          description: the simulation details
        "400":
          description: Bad request
        "404":
          description: the Simulation specified is unknown or you don't have access
            to it
      summary: Delete a simulation
      tags:
      - simulation
      x-accepts: application/json
    get:
      operationId: findSimulationById
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Simulation identifier
        explode: false
        in: path
        name: simulation_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Simulation:
                  $ref: '#/components/examples/BrewerySimulation'
              schema:
                $ref: '#/components/schemas/Simulation'
          description: the Simulation details
        "404":
          description: the Simulation specified is unknown or you don't have access
            to it
      summary: Get the details of a simulation
      tags:
      - simulation
      x-accepts: application/json
  /organizations/{organization_id}/simulations/{simulation_id}/logs/search:
    post:
      operationId: searchSimulationLogs
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Simulation identifier
        explode: false
        in: path
        name: simulation_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              SimulationStartSimulator:
                $ref: '#/components/examples/BrewerySimulationLogsOptions'
            schema:
              $ref: '#/components/schemas/SimulationLogsOptions'
        description: the options to search logs
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Simulation:
                  $ref: '#/components/examples/BrewerySimulationLogs'
              schema:
                $ref: '#/components/schemas/SimulationLogs'
          description: the Simulation logs
        "400":
          description: Bad request
        "404":
          description: the Simulation specified is unknown or you don't have access
            to it
      summary: Search the logs of a simulation
      tags:
      - simulation
      x-contentType: application/json
      x-accepts: application/json
  /organizations/{organization_id}/workspaces/{workspace_id}/simulations:
    get:
      operationId: getWorkspaceSimulations
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Workspace identifier
        explode: false
        in: path
        name: workspace_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                OneSimulation:
                  $ref: '#/components/examples/OneSimulation'
              schema:
                items:
                  $ref: '#/components/schemas/SimulationBase'
                type: array
          description: the simulation details list
      summary: get the list of Simulations for the Workspace
      tags:
      - simulation
      x-accepts: application/json
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/simulations:
    get:
      operationId: getScenarioSimulations
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Workspace identifier
        explode: false
        in: path
        name: workspace_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Scenario identifier
        explode: false
        in: path
        name: scenario_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                OneSimulation:
                  $ref: '#/components/examples/OneSimulation'
              schema:
                items:
                  $ref: '#/components/schemas/SimulationBase'
                type: array
          description: the simulation details list
      summary: get the list of Simulations for the Scenario
      tags:
      - simulation
      x-accepts: application/json
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/simulations/{simulation_id}:
    get:
      operationId: getScenarioSimulation
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Workspace identifier
        explode: false
        in: path
        name: workspace_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Scenario identifier
        explode: false
        in: path
        name: scenario_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Simulation identifier
        explode: false
        in: path
        name: simulation_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                BrewerySimulation:
                  $ref: '#/components/examples/BrewerySimulation'
              schema:
                $ref: '#/components/schemas/Simulation'
          description: the simulation details
      summary: get the Simulation for the Scenario
      tags:
      - simulation
      x-accepts: application/json
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/simulations/{simulation_id}/logs:
    get:
      operationId: getScenarioSimulationLogs
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Workspace identifier
        explode: false
        in: path
        name: workspace_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Scenario identifier
        explode: false
        in: path
        name: scenario_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Simulation identifier
        explode: false
        in: path
        name: simulation_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Simulation:
                  $ref: '#/components/examples/BrewerySimulationLogs'
              schema:
                $ref: '#/components/schemas/SimulationLogs'
          description: the simulation logs details
      summary: get the logs for the Simulation
      tags:
      - simulation
      x-accepts: application/json
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/run:
    post:
      operationId: runScenario
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Workspace identifier
        explode: false
        in: path
        name: workspace_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Scenario identifier
        explode: false
        in: path
        name: scenario_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Simulation:
                  $ref: '#/components/examples/BrewerySimulationBase'
              schema:
                $ref: '#/components/schemas/SimulationBase'
          description: the simulation details
      summary: run a Simulation for the Scenario
      tags:
      - simulation
      x-accepts: application/json
  /organizations/{organization_id}/simulators:
    get:
      operationId: findAllSimulators
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Two:
                  $ref: '#/components/examples/OneSimulator'
              schema:
                items:
                  $ref: '#/components/schemas/Simulator'
                type: array
          description: the simulator details
      summary: List all Simulators
      tags:
      - simulator
      x-accepts: application/json
    post:
      operationId: createSimulator
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Brewery:
                $ref: '#/components/examples/Brewery'
            schema:
              $ref: '#/components/schemas/Simulator'
        description: the Simulator to create
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                Brewery:
                  $ref: '#/components/examples/Brewery'
              schema:
                $ref: '#/components/schemas/Simulator'
          description: the simulator details
        "400":
          description: Bad request
      summary: Register a new simulator
      tags:
      - simulator
      x-contentType: application/json
      x-accepts: application/json
  /organizations/{organization_id}/simulators/upload:
    post:
      operationId: upload
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/yaml:
            examples:
              ADTConnector:
                $ref: '#/components/examples/Brewery'
            schema:
              format: binary
              type: string
        description: the Simulator to upload and register
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                ADTConnector:
                  $ref: '#/components/examples/Brewery'
              schema:
                $ref: '#/components/schemas/Simulator'
          description: the simulator details
        "400":
          description: Bad request
      summary: Upload and register a new simulator
      tags:
      - simulator
      x-contentType: application/yaml
      x-accepts: application/json
  /organizations/{organization_id}/simulators/{simulator_id}:
    delete:
      operationId: deleteSimulator
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Simulator identifier
        explode: false
        in: path
        name: simulator_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Brewery:
                  $ref: '#/components/examples/Brewery'
              schema:
                $ref: '#/components/schemas/Simulator'
          description: the simulator details
        "400":
          description: Bad request
        "404":
          description: the Simulator specified is unknown or you don't have access
            to it
      summary: Delete a simulator
      tags:
      - simulator
      x-accepts: application/json
    get:
      operationId: findSimulatorById
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Simulator identifier
        explode: false
        in: path
        name: simulator_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Brewery:
                  $ref: '#/components/examples/Brewery'
              schema:
                $ref: '#/components/schemas/Simulator'
          description: the Simulator details
        "404":
          description: the Simulator specified is unknown or you don't have access
            to it
      summary: Get the details of a simulator
      tags:
      - simulator
      x-accepts: application/json
    patch:
      operationId: updateSimulator
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Simulator identifier
        explode: false
        in: path
        name: simulator_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              BreweryUpdate:
                $ref: '#/components/examples/BreweryUpdate'
            schema:
              $ref: '#/components/schemas/Simulator'
        description: the new Simulator details.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                BreweryUpdated:
                  $ref: '#/components/examples/BreweryUpdated'
              schema:
                $ref: '#/components/schemas/Simulator'
          description: the simulator details
        "400":
          description: Bad request
        "404":
          description: the Simulator specified is unknown or you don't have access
            to it
      summary: Update a simulator
      tags:
      - simulator
      x-contentType: application/json
      x-accepts: application/json
  /organizations/{organization_id}/workspaces:
    get:
      operationId: findAllWorkspaces
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                OneWorkspace:
                  $ref: '#/components/examples/OneWorkspace'
              schema:
                items:
                  $ref: '#/components/schemas/Workspace'
                type: array
          description: the workspace details
      summary: List all Workspaces
      tags:
      - workspace
      x-accepts: application/json
    post:
      operationId: createWorkspace
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Workspace:
                $ref: '#/components/examples/BreweryWorkspaceCreateIn'
            schema:
              $ref: '#/components/schemas/Workspace'
        description: the Workspace to create
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                Workspace:
                  $ref: '#/components/examples/BreweryWorkspace'
              schema:
                $ref: '#/components/schemas/Workspace'
          description: the workspace details
        "400":
          description: Bad request
      summary: Create a new workspace
      tags:
      - workspace
      x-contentType: application/json
      x-accepts: application/json
  /organizations/{organization_id}/workspaces/{workspace_id}:
    delete:
      operationId: deleteWorkspace
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Workspace identifier
        explode: false
        in: path
        name: workspace_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Workspace:
                  $ref: '#/components/examples/BreweryWorkspace'
              schema:
                $ref: '#/components/schemas/Workspace'
          description: the workspace details
        "400":
          description: Bad request
        "404":
          description: the Workspace specified is unknown or you don't have access
            to it
      summary: Delete a workspace
      tags:
      - workspace
      x-accepts: application/json
    get:
      operationId: findWorkspaceById
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Workspace identifier
        explode: false
        in: path
        name: workspace_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Workspace:
                  $ref: '#/components/examples/BreweryWorkspace'
              schema:
                $ref: '#/components/schemas/Workspace'
          description: the Workspace details
        "404":
          description: the Workspace specified is unknown or you don't have access
            to it
      summary: Get the details of an workspace
      tags:
      - workspace
      x-accepts: application/json
    patch:
      operationId: updateWorkspace
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Workspace identifier
        explode: false
        in: path
        name: workspace_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              BreweryUpdate:
                $ref: '#/components/examples/BreweryWorkspaceUpdate'
            schema:
              $ref: '#/components/schemas/Workspace'
        description: the new Workspace details.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                BreweryUpdated:
                  $ref: '#/components/examples/BreweryWorkspaceUpdated'
              schema:
                $ref: '#/components/schemas/Workspace'
          description: the workspace details
        "400":
          description: Bad request
        "404":
          description: the Workspace specified is unknown or you don't have access
            to it
      summary: Update a workspace
      tags:
      - workspace
      x-contentType: application/json
      x-accepts: application/json
  /connectors:
    get:
      operationId: findAllConnectors
      responses:
        "200":
          content:
            application/json:
              examples:
                OneConnector:
                  $ref: '#/components/examples/OneConnector'
              schema:
                items:
                  $ref: '#/components/schemas/Connector'
                type: array
          description: the connector details
      summary: List all Connectors
      tags:
      - connector
      x-accepts: application/json
    post:
      operationId: registerConnector
      requestBody:
        content:
          application/json:
            examples:
              ADTConnector:
                $ref: '#/components/examples/ADTConnector'
            schema:
              $ref: '#/components/schemas/Connector'
        description: the Connector to register
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                ADTConnector:
                  $ref: '#/components/examples/ADTConnector'
              schema:
                $ref: '#/components/schemas/Connector'
          description: the connector details
        "400":
          description: Bad request
      summary: Register a new connector
      tags:
      - connector
      x-contentType: application/json
      x-accepts: application/json
  /connectors/upload:
    post:
      operationId: uploadConnector
      requestBody:
        content:
          application/yaml:
            examples:
              ADTConnector:
                $ref: '#/components/examples/ADTConnector'
            schema:
              format: binary
              type: string
        description: the Connector to upload and register
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                ADTConnector:
                  $ref: '#/components/examples/ADTConnector'
              schema:
                $ref: '#/components/schemas/Connector'
          description: the connector details
        "400":
          description: Bad request
      summary: Upload and register a new connector
      tags:
      - connector
      x-contentType: application/yaml
      x-accepts: application/json
  /connectors/{connector_id}:
    delete:
      operationId: unregisterConnector
      parameters:
      - description: the Connector identifier
        explode: false
        in: path
        name: connector_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                ADTConnector:
                  $ref: '#/components/examples/ADTConnector'
              schema:
                $ref: '#/components/schemas/Connector'
          description: the connector details
        "400":
          description: Bad request
        "404":
          description: the Connector specified is unknown or you don't have access
            to it
      summary: Unregister an connector
      tags:
      - connector
      x-accepts: application/json
    get:
      operationId: findConnectorById
      parameters:
      - description: the Connector identifier
        explode: false
        in: path
        name: connector_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                ADTConnector:
                  $ref: '#/components/examples/ADTConnector'
              schema:
                $ref: '#/components/schemas/Connector'
          description: the Connector details
        "404":
          description: the Connector specified is unknown or you don't have access
            to it
      summary: Get the details of an connector
      tags:
      - connector
      x-accepts: application/json
  /organizations:
    get:
      operationId: findAllOrganizations
      responses:
        "200":
          content:
            application/json:
              examples:
                TwoOrganizations:
                  $ref: '#/components/examples/TwoOrganizations'
              schema:
                items:
                  $ref: '#/components/schemas/Organization'
                type: array
          description: the organization details
      summary: List all Organizations
      tags:
      - organization
      x-accepts: application/json
    post:
      operationId: registerOrganization
      requestBody:
        content:
          application/json:
            examples:
              NewOrganizationIn:
                $ref: '#/components/examples/NewOrganizationIn'
            schema:
              $ref: '#/components/schemas/Organization'
        description: the Organization to register
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                CosmoOrganization:
                  $ref: '#/components/examples/CosmoOrganization'
              schema:
                $ref: '#/components/schemas/Organization'
          description: the organization details
        "400":
          description: Bad request
      summary: Register a new organization
      tags:
      - organization
      x-contentType: application/json
      x-accepts: application/json
  /organizations/{organization_id}:
    delete:
      operationId: unregisterOrganization
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                CosmoOrganization:
                  $ref: '#/components/examples/CosmoOrganization'
              schema:
                $ref: '#/components/schemas/Organization'
          description: the organization details
        "400":
          description: Bad request
        "404":
          description: the Organization specified is unknown or you don't have access
            to it
      summary: Unregister an organization
      tags:
      - organization
      x-accepts: application/json
    get:
      operationId: findOrganizationById
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                CosmoOrganization:
                  $ref: '#/components/examples/CosmoOrganization'
              schema:
                $ref: '#/components/schemas/Organization'
          description: the Organization details
        "404":
          description: the Organization specified is unknown or you don't have access
            to it
      summary: Get the details of an organization
      tags:
      - organization
      x-accepts: application/json
    patch:
      operationId: updateOrganization
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              ChangeName:
                description: Change the name of Organization 1 to CosmoTech Digital
                  Twins Engine
                summary: Change Name of Organization
                value:
                  name: CosmoTech Digital Twins Engine
              AddUser:
                description: Add the user Charles to organization Cosmo Tech
                summary: Add a user
                value:
                  users:
                  - name: Charles
                    roles:
                    - Developer
              RenameUser:
                description: Rename the user Charles to Xavier
                summary: Rename a user
                value:
                  users:
                  - id: "3"
                    name: Xavier
              RemoveUser:
                description: Remove the user Charles from organization Cosmo Tech
                summary: Remove a user
                value:
                  users:
                  - id: "1"
                    name: Bob
                    roles:
                    - Admin
                  - id: "2"
                    name: Alice
                    roles:
                    - User
            schema:
              $ref: '#/components/schemas/Organization'
        description: the new Organization details
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                CosmoThreeUsers:
                  $ref: '#/components/examples/CosmoThreeUsers'
              schema:
                $ref: '#/components/schemas/Organization'
          description: the organization details
        "400":
          description: Bad request
        "404":
          description: the Organization specified is unknown or you don't have access
            to it
      summary: Update an organization
      tags:
      - organization
      x-contentType: application/json
      x-accepts: application/json
  /users:
    get:
      operationId: findAllUsers
      responses:
        "200":
          content:
            application/json:
              examples:
                Two:
                  $ref: '#/components/examples/TwoUsers'
              schema:
                items:
                  $ref: '#/components/schemas/User'
                type: array
          description: the user details
      summary: List all Users
      tags:
      - user
      x-accepts: application/json
    post:
      operationId: registerUser
      requestBody:
        content:
          application/json:
            examples:
              BobCreateIn:
                $ref: '#/components/examples/BobCreateIn'
            schema:
              $ref: '#/components/schemas/User'
        description: the User to register
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                Bob:
                  $ref: '#/components/examples/Bob'
              schema:
                $ref: '#/components/schemas/User'
          description: the user details
        "400":
          description: Bad request
      summary: Register a new user
      tags:
      - user
      x-contentType: application/json
      x-accepts: application/json
  /users/{user_id}:
    delete:
      operationId: unregisterUser
      parameters:
      - description: the User identifier
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Bob:
                  $ref: '#/components/examples/Bob'
              schema:
                $ref: '#/components/schemas/User'
          description: the user details
        "400":
          description: Bad request
        "404":
          description: the User specified is unknown or you don't have access to it
      summary: Unregister an user
      tags:
      - user
      x-accepts: application/json
    get:
      operationId: findUserById
      parameters:
      - description: the User identifier
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Bob:
                  $ref: '#/components/examples/BobDetails'
              schema:
                $ref: '#/components/schemas/UserDetails'
          description: the User details
        "404":
          description: the User specified is unknown or you don't have access to it
      summary: Get the details of an user
      tags:
      - user
      x-accepts: application/json
    patch:
      operationId: updateUser
      parameters:
      - description: the User identifier
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              BobyUpdateIn:
                $ref: '#/components/examples/BobyUpdateIn'
            schema:
              $ref: '#/components/schemas/User'
        description: the new User details. Organization membership is handled in Organzation
          service.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                BobyUpdated:
                  $ref: '#/components/examples/BobyUpdated'
              schema:
                $ref: '#/components/schemas/User'
          description: the user details
        "400":
          description: Bad request
        "404":
          description: the User specified is unknown or you don't have access to it
      summary: Update an user
      tags:
      - user
      x-contentType: application/json
      x-accepts: application/json
  /users/me:
    get:
      operationId: getCurrentUser
      responses:
        "200":
          content:
            application/json:
              examples:
                Bob:
                  $ref: '#/components/examples/BobDetails'
              schema:
                $ref: '#/components/schemas/UserDetails'
          description: the User details
        "404":
          description: the User specified is unknown or you don't have access to it
      summary: Get the details of an user
      tags:
      - user
      x-accepts: application/json
  /organizations/{organization_id}/me:
    get:
      operationId: getOrganizationCurrentUser
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Bob:
                  $ref: '#/components/examples/BobDetailsOrganization'
              schema:
                $ref: '#/components/schemas/UserDetails'
          description: the User details
        "404":
          description: the User specified is unknown or you don't have access to it
      summary: Get the details of an user with roles for an Organization
      tags:
      - user
      x-accepts: application/json
  /organizations/{organization_id}/workspaces/{workspace_id}/me:
    get:
      operationId: getWorkspaceCurrentUser
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Workspace identifier
        explode: false
        in: path
        name: workspace_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Bob:
                  $ref: '#/components/examples/BobDetailsWorkspace'
              schema:
                $ref: '#/components/schemas/UserDetails'
          description: the User details
        "404":
          description: the User specified is unknown or you don't have access to it
      summary: Get the details of an user with roles for a Workspace
      tags:
      - user
      x-accepts: application/json
  /oauth2/authorize:
    get:
      operationId: authorizeUser
      responses:
        "302":
          description: Redirection response
          headers:
            Location:
              examples:
                AzureAD:
                  $ref: '#/components/examples/AzureADRedirect'
              explode: false
              schema:
                type: string
              style: simple
      summary: Authorize an User with OAuth2. Delegated to configured OAuth2 service
      tags:
      - user
      x-accepts: application/json
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios:
    get:
      operationId: findAllScenarios
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Workspace identifier
        explode: false
        in: path
        name: workspace_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                ThreeScenario:
                  $ref: '#/components/examples/ThreeScenarios'
              schema:
                items:
                  $ref: '#/components/schemas/Scenario'
                type: array
          description: the scenario details
      summary: List all Scenarios
      tags:
      - scenario
      x-accepts: application/json
    post:
      operationId: createScenario
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Workspace identifier
        explode: false
        in: path
        name: workspace_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Scenario:
                $ref: '#/components/examples/BreweryScenario'
            schema:
              $ref: '#/components/schemas/Scenario'
        description: the Scenario to create
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                Scenario:
                  $ref: '#/components/examples/BreweryScenario'
              schema:
                $ref: '#/components/schemas/Scenario'
          description: the scenario details
        "400":
          description: Bad request
      summary: Create a new scenario
      tags:
      - scenario
      x-contentType: application/json
      x-accepts: application/json
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/tree:
    get:
      operationId: getScenariosTree
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Workspace identifier
        explode: false
        in: path
        name: workspace_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                ScenariosTree:
                  $ref: '#/components/examples/ScenariosTree'
              schema:
                items:
                  $ref: '#/components/schemas/ScenarioBase'
                type: array
          description: the scenario tree
      summary: Get the Scenarios Tree
      tags:
      - scenario
      x-accepts: application/json
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}:
    delete:
      operationId: deleteScenario
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Workspace identifier
        explode: false
        in: path
        name: workspace_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Scenario identifier
        explode: false
        in: path
        name: scenario_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Scenario:
                  $ref: '#/components/examples/BreweryScenario'
              schema:
                $ref: '#/components/schemas/Scenario'
          description: the scenario details
        "400":
          description: Bad request
        "404":
          description: the Scenario specified is unknown or you don't have access
            to it
      summary: Delete a scenario
      tags:
      - scenario
      x-accepts: application/json
    get:
      operationId: findScenarioById
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Workspace identifier
        explode: false
        in: path
        name: workspace_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Scenario identifier
        explode: false
        in: path
        name: scenario_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Scenario:
                  $ref: '#/components/examples/BreweryScenario'
              schema:
                $ref: '#/components/schemas/Scenario'
          description: the Scenario details
        "404":
          description: the Scenario specified is unknown or you don't have access
            to it
      summary: Get the details of an scenario
      tags:
      - scenario
      x-accepts: application/json
    patch:
      operationId: updateScenario
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Workspace identifier
        explode: false
        in: path
        name: workspace_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Scenario identifier
        explode: false
        in: path
        name: scenario_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              BreweryUpdate:
                $ref: '#/components/examples/BreweryScenarioUpdate'
            schema:
              $ref: '#/components/schemas/Scenario'
        description: the new Scenario details.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                BreweryUpdated:
                  $ref: '#/components/examples/BreweryScenarioUpdated'
              schema:
                $ref: '#/components/schemas/Scenario'
          description: the scenario details
        "400":
          description: Bad request
        "404":
          description: the Scenario specified is unknown or you don't have access
            to it
      summary: Update a scenario
      tags:
      - scenario
      x-contentType: application/json
      x-accepts: application/json
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/compare/{compared_scenario_id}:
    get:
      operationId: compareScenarios
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Workspace identifier
        explode: false
        in: path
        name: workspace_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Scenario identifier
        explode: false
        in: path
        name: scenario_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Scenario identifier to compare to
        explode: false
        in: path
        name: compared_scenario_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                BreweryScenarioComparisonResult:
                  $ref: '#/components/examples/BreweryScenarioComparison'
              schema:
                $ref: '#/components/schemas/ScenarioComparisonResult'
          description: the comparison result for parameters values
        "404":
          description: the Scenario specified is unknown or you don't have access
            to it
      summary: Compare the Scenario with another one and returns the difference for
        parameters values
      tags:
      - scenario
      x-accepts: application/json
  /organizations/{organization_id}/datasets:
    get:
      operationId: findAllDatasets
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Two:
                  $ref: '#/components/examples/TwoDatasets'
              schema:
                items:
                  $ref: '#/components/schemas/Dataset'
                type: array
          description: the dataset details
      summary: List all Datasets
      tags:
      - dataset
      x-accepts: application/json
    post:
      operationId: createDataset
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              BreweryADT:
                $ref: '#/components/examples/BreweryADT'
            schema:
              $ref: '#/components/schemas/Dataset'
        description: the Dataset to create
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                BreweryADT:
                  $ref: '#/components/examples/BreweryADT'
              schema:
                $ref: '#/components/schemas/Dataset'
          description: the dataset details
        "400":
          description: Bad request
      summary: Create a new dataset
      tags:
      - dataset
      x-contentType: application/json
      x-accepts: application/json
  /organizations/{organization_id}/datasets/copy:
    post:
      operationId: copyDataset
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              BreweryDatasetCopyParameters:
                $ref: '#/components/examples/BreweryDatasetCopyParameters'
            schema:
              $ref: '#/components/schemas/DatasetCopyParameters'
        description: the Dataset copy parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                BreweryADT:
                  $ref: '#/components/examples/BreweryDatasetCopyParameters'
              schema:
                $ref: '#/components/schemas/DatasetCopyParameters'
          description: the Dataset copy operation parameters
        "400":
          description: Bad request
        "404":
          description: the Dataset specified is unknown or you don't have access to
            it
      summary: Copy a Dataset to another Dataset. Source must have a read capable
        connector and Target a write capable connector.
      tags:
      - dataset
      x-contentType: application/json
      x-accepts: application/json
  /organizations/{organization_id}/datasets/{dataset_id}:
    delete:
      operationId: deleteDataset
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Dataset identifier
        explode: false
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                BreweryADT:
                  $ref: '#/components/examples/BreweryADT'
              schema:
                $ref: '#/components/schemas/Dataset'
          description: the dataset details
        "400":
          description: Bad request
        "404":
          description: the Dataset specified is unknown or you don't have access to
            it
      summary: Delete a dataset
      tags:
      - dataset
      x-accepts: application/json
    get:
      operationId: findDatasetById
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Dataset identifier
        explode: false
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                BreweryADT:
                  $ref: '#/components/examples/BreweryADT'
              schema:
                $ref: '#/components/schemas/Dataset'
          description: the Dataset details
        "404":
          description: the Dataset specified is unknown or you don't have access to
            it
      summary: Get the details of a dataset
      tags:
      - dataset
      x-accepts: application/json
    patch:
      operationId: updateDataset
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Dataset identifier
        explode: false
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              BreweryADTUpdate:
                $ref: '#/components/examples/BreweryADTUpdate'
            schema:
              $ref: '#/components/schemas/Dataset'
        description: the new Dataset details.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                BreweryADTUpdated:
                  $ref: '#/components/examples/BreweryADTUpdated'
              schema:
                $ref: '#/components/schemas/Dataset'
          description: the dataset details
        "400":
          description: Bad request
        "404":
          description: the Dataset specified is unknown or you don't have access to
            it
      summary: Update a dataset
      tags:
      - dataset
      x-contentType: application/json
      x-accepts: application/json
  /organizations/{organization_id}/datasets/validators:
    get:
      operationId: findAllValidators
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Two:
                  $ref: '#/components/examples/OneValidator'
              schema:
                items:
                  $ref: '#/components/schemas/Validator'
                type: array
          description: the validator details
      summary: List all Validators
      tags:
      - validator
      x-accepts: application/json
    post:
      operationId: createValidator
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              BreweryADTValidator:
                $ref: '#/components/examples/BreweryADTValidator'
            schema:
              $ref: '#/components/schemas/Validator'
        description: the Validator to create
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                BreweryADTValidator:
                  $ref: '#/components/examples/BreweryADTValidator'
              schema:
                $ref: '#/components/schemas/Validator'
          description: the validator details
        "400":
          description: Bad request
      summary: Register a new validator
      tags:
      - validator
      x-contentType: application/json
      x-accepts: application/json
  /organizations/{organization_id}/datasets/validators/{validator_id}:
    delete:
      operationId: deleteValidator
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Validator identifier
        explode: false
        in: path
        name: validator_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                BreweryADTValidator:
                  $ref: '#/components/examples/BreweryADTValidator'
              schema:
                $ref: '#/components/schemas/Validator'
          description: the validator details
        "400":
          description: Bad request
        "404":
          description: the Validator specified is unknown or you don't have access
            to it
      summary: Delete a validator
      tags:
      - validator
      x-accepts: application/json
    get:
      operationId: findValidatorById
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Validator identifier
        explode: false
        in: path
        name: validator_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                BreweryADTValidator:
                  $ref: '#/components/examples/BreweryADTValidator'
              schema:
                $ref: '#/components/schemas/Validator'
          description: the Validator details
        "404":
          description: the Validator specified is unknown or you don't have access
            to it
      summary: Get the details of a validator
      tags:
      - validator
      x-accepts: application/json
  /organizations/{organization_id}/datasets/validators/{validator_id}/run:
    post:
      operationId: runValidator
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the ValidatorRun identifier
        explode: false
        in: path
        name: validator_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              BreweryADTRunValidator:
                $ref: '#/components/examples/BreweryADTRunValidator'
            schema:
              $ref: '#/components/schemas/ValidatorRun'
        description: the Validator to run
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                BreweryADTValidatorRun:
                  $ref: '#/components/examples/BreweryADTValidatorRun'
              schema:
                $ref: '#/components/schemas/ValidatorRun'
          description: the validator run details
        "400":
          description: Bad request
      summary: Run a Validator
      tags:
      - validator
      x-contentType: application/json
      x-accepts: application/json
  /organizations/{organization_id}/datasets/validators/{validator_id}/history:
    get:
      operationId: findAllValidatorRuns
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the ValidatorRun identifier
        explode: false
        in: path
        name: validator_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Two:
                  $ref: '#/components/examples/ThreeValidatorRun'
              schema:
                items:
                  $ref: '#/components/schemas/ValidatorRun'
                type: array
          description: the validator run details
      summary: List all Validator Runs
      tags:
      - validator
      x-accepts: application/json
    post:
      operationId: createValidatorRun
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the ValidatorRun identifier
        explode: false
        in: path
        name: validator_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              BreweryADTValidatorRun:
                $ref: '#/components/examples/BreweryADTValidatorRun'
            schema:
              $ref: '#/components/schemas/ValidatorRun'
        description: the Validator Run to create
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                BreweryADTValidatorRun:
                  $ref: '#/components/examples/BreweryADTValidatorRun'
              schema:
                $ref: '#/components/schemas/ValidatorRun'
          description: the validator run details
        "400":
          description: Bad request
      summary: Register a new validator run
      tags:
      - validator
      x-contentType: application/json
      x-accepts: application/json
  /organizations/{organization_id}/datasets/validators/{validator_id}/history/{validatorrun_id}:
    delete:
      operationId: deleteValidatorRun
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Validator identifier
        explode: false
        in: path
        name: validator_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Validator Run identifier
        explode: false
        in: path
        name: validatorrun_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                BreweryADTValidatorRun:
                  $ref: '#/components/examples/BreweryADTValidatorRun'
              schema:
                $ref: '#/components/schemas/ValidatorRun'
          description: the validator run details
        "400":
          description: Bad request
        "404":
          description: the ValidatorRun specified is unknown or you don't have access
            to it
      summary: Delete a validator run
      tags:
      - validator
      x-accepts: application/json
    get:
      operationId: findValidatorRunById
      parameters:
      - description: the Organization identifier
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Validator identifier
        explode: false
        in: path
        name: validator_id
        required: true
        schema:
          type: string
        style: simple
      - description: the Validator Run identifier
        explode: false
        in: path
        name: validatorrun_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                BreweryADTValidatorRun:
                  $ref: '#/components/examples/BreweryADTValidatorRun'
              schema:
                $ref: '#/components/schemas/ValidatorRun'
          description: the Validator Run details
        "404":
          description: the ValidatorRun specified is unknown or you don't have access
            to it
      summary: Get the details of a validator run
      tags:
      - validator
      x-accepts: application/json
components:
  examples:
    ADTConnector:
      description: ADT Connector example
      summary: ADT Connector
      value:
        id: "1"
        connectorKey: ADT Connector
        name: ADT Connector
        description: Connector for Azure Digital Twins. Read ADT and write the data
          in CSV for the Simulation
        repository: azure-digital-twins-simulator-connector
        version: 1.0.0
        tags:
        - ADT
        ownerId: "1"
        url: https://github.com/Cosmo-Tech/azure-digital-twins-simulator-connector
        ioTypes:
        - read
        parameterGroups:
        - id: security
          label: Security
          parameters:
          - id: AZURE_TENANT_ID
            label: Azure Tenant Id
            valueType: string
            envVar: AZURE_TENANT_ID
          - id: AZURE_CLIENT_ID
            label: Azure Client Id
            valueType: string
            envVar: AZURE_CLIENT_ID
          - id: AZURE_CLIENT_SECRET
            label: Azure CLient secret
            valueType: password
            envVar: AZURE_CLIENT_SECRET
        - id: parameters
          label: Parameters
          parameters:
          - id: AZURE_DIGITAL_TWINS_URL
            label: Azure Digital Twins URL
            valueType: string
            envVar: AZURE_DIGITAL_TWINS_URL
          - id: ADT_QUERY
            label: Azure Digital Twins query
            valueType: string
            envVar: AZURE_DIGITAL_TWINS_QUERY
            default: SELECT * FROM digitaltwins
          - id: EXPORT_CSV_FILE_ABSOLUTE_PATH
            label: CSV file export absolute path
            valueType: string
            default: /mnt/simulation-data
            envVar: EXPORT_CSV_FILE_ABSOLUTE_PATH
    AzureADRedirect:
      description: authorize redirection to Azure Active Directory example
      summary: Azure AD redirect example
      value:
        Location: https://login.microsoftonline.com/e9641c78-d0d6-4d09-af63-168922724e7f/oauth2/v2.0/authorize?client_id=6731de76-14a6-49ae-97bc-6eba6914391e&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%2Fmyapp%2F&response_mode=query&scope=https%3A%2F%2Fgraph.microsoft.com%2Fmail.read
    Bob:
      description: Bob User example
      summary: Bob User
      value:
        id: "1"
        name: Bob
        platformRoles:
        - Admin
    BobCreateIn:
      description: Bob User Create input example
      summary: Bob User Create input example
      value:
        name: Bob
        platformRoles:
        - Admin
    BobDetails:
      description: Bob User example
      summary: Bob User
      value:
        id: "1"
        name: Bob
        platformRoles:
        - Admin
        organizations:
        - id: "1"
          name: Cosmo Tech
          roles:
          - Admin
          workspaces:
          - id: "1"
            name: Brewery Analysis
            roles:
            - Admin
        - id: "2"
          name: Phoenix
          roles:
          - Admin
    BobDetailsOrganization:
      description: Bob User for Organization 1 example
      summary: Bob User for an Organization example
      value:
        id: "1"
        name: Bob
        platformRoles:
        - Admin
        organizations:
        - id: "1"
          name: Cosmo Tech
          roles:
          - Admin
          workspaces:
          - id: "1"
            name: Brewery Analysis
            roles:
            - Admin
    BobDetailsWorkspace:
      description: Bob User for Organization 1 and Workspace 1 example
      summary: Bob User for a Workspace example
      value:
        id: "1"
        name: Bob
        platformRoles:
        - Admin
        organizations:
        - id: "1"
          name: Cosmo Tech
          roles:
          - Admin
          workspaces:
          - id: "1"
            name: Brewery Analysis
            roles:
            - Admin
    BobyUpdateIn:
      description: Bob User renamed to Boby input example
      summary: Boby update User input example
      value:
        id: "1"
        name: Boby
    BobyUpdated:
      description: Bob User renamed to Boby example
      summary: Boby updated User
      value:
        id: "1"
        name: Boby
        platformRoles:
        - Admin
    Brewery:
      description: Brewery Simulator example
      summary: Brewery Simulator
      value:
        id: "1"
        simulatorKey: Brewery Simulator
        name: Brewery Simulator
        description: "A Brewery Supplier Simulator Model which simulate stock, production,\
          \ transport and customer satisfaction"
        repository: brewery_simulator
        version: 1.0.0
        ownerId: "1"
        url: https://github.com/Cosm-Tech/brewery.git
        tags:
        - Brewery
        analysis:
        - id: hundred
          name: Full simulation 100 steps
          description: Run a full simulation with 100 steps
          simulation: DeployedSimulation
          tags:
          - Full
          - Supply
          computeSize: highcpu
          parametersHandlerResource:
            storageType: local
            resourcePath: analysis/hundred/parameters_handler/
          datasetValidatorResource:
            storageType: local
            resourcePath: analysis/hundred/validator/
          customDriverResource:
            storageType: local
            resourcePath: analysis/hundred/driver/
          datasetSchemaResource:
            storageType: local
            resourcePath: analysis/hundred/schema
          parameterGroups:
          - id: consumers
            labels:
              fr: Consommateurs
              en: Consumers
            parameters:
            - id: prefix
              labels:
                fr: Prefix des noms
                en: Names prefix
              varType: string
    BreweryADT:
      description: Brewery Dataset in ADT example
      summary: Brewery ADT Dataset
      value:
        id: "1"
        name: Brewery ADT reference
        description: Brewery reference model in ADT
        tags:
        - ADT
        - Brewery
        - Reference
        connector:
          id: "1"
          name: ADT Connector
          version: 1.0.0
          ownerId: "1"
          parametersValues:
            AZURE_TENANT_ID: "12345678"
            AZURE_CLIENT_ID: "12345678"
            AZURE_CLIENT_SECRET: "12345678"
            AZURE_DIGITAL_TWINS_URL: mydt.api.weu.digitaltwins.azure.net
            ADT_QUERY: SELECT * FROM digitaltwins
            EXPORT_CSV_FILE_ABSOLUTE_PATH: /mnt/simulation-data
        compatibility:
        - simulatorKey: Brewery Simulator
          minimumVersion: 1.0.0
    BreweryADTRunValidator:
      description: a Validator Run input for the Brewery Dataset from ADT in a Docker
        image
      summary: Brewery ADT Dataset Validator Run input
      value:
        datasetId: "1"
    BreweryADTUpdate:
      description: Brewery ADT reference model name update example
      summary: Brewery ADT name update example
      value:
        name: Brewery ADT new reference
    BreweryADTUpdated:
      description: Brewery Dataset in ADT name updated example
      summary: Brewery ADT updated Dataset
      value:
        id: "1"
        name: Brewery ADT new reference
        description: Brewery reference model in ADT
        tags:
        - ADT
        - Brewery
        - Reference
        connector:
          id: "1"
          name: ADT Connector
          version: 1.0.0
          ownerId: "1"
          parametersValues:
            AZURE_TENANT_ID: "12345678"
            AZURE_CLIENT_ID: "12345678"
            AZURE_CLIENT_SECRET: "12345678"
            AZURE_DIGITAL_TWINS_URL: mydt.api.weu.digitaltwins.azure.net
            ADT_QUERY: SELECT * FROM digitaltwins
            EXPORT_CSV_FILE_ABSOLUTE_PATH: /mnt/simulation-data
        compatibility:
        - simulatorKey: Brewery Simulator
          minimumVersion: 1.0.0
    BreweryADTValidator:
      description: a Validator for the Brewery Dataset from ADT in a Docker image
      summary: Brewery ADT Dataset Validator
      value:
        id: "1"
        name: Brewery ADT Validator
        description: A Validator for the Brewery Dataset from ADT
        repository: brewery_adt_validator
        version: 1.0.0
        ownerId: "1"
        url: https://github.com/brewery-adt-validator
        tags:
        - Brewery
        - ADT
    BreweryADTValidatorRun:
      description: a Validator Run for the Brewery Dataset from ADT in a Docker image
      summary: Brewery ADT Dataset Validator Run
      value:
        id: 1
        validatorId: "1"
        validatorName: Brewery ADT Validator
        datasetId: "1"
        datasetName: Brewery ADT reference
        state: Finished
        containerId: 387ab9ffe8361eabc24b2de516e71f9bd704d992840f53d9f365b11fdb8bcaa7
        logs: Validation ended with success\nBrewery ADT reference OK
    BreweryDatasetCopyParameters:
      description: Parameters for Dataset copy from Dataset 1 to 2 example
      summary: Parameters for Dataset copy example
      value:
        sourceId: "1"
        targetId: "2"
    BreweryScenario:
      description: Brewery Scenario example
      summary: Brewery Scenario
      value:
        id: "1"
        name: Brewery Master Analysis
        description: Brewery master reference analysis
        tags:
        - Brewery
        - reference
        ownerId: "1"
        simulatorId: "1"
        users:
        - id: "1"
          name: Bob
          roles: Editor
        - id: "2"
          name: Alice
          roles: Viewer
        analysis:
          analysisId: "1"
          datasetList:
          - "1"
          parametersValues:
          - parameterId: prefix
            varType: string
            value: ""
    BreweryScenarioComparison:
      description: Brewery comparison result between a parent Scenario and its child
      summary: Brewery comparison result
      value:
        scenarioId: "1"
        comparedScenarioId: "2"
        changedValues:
        - parameterId: prefix
          varType: string
          value: Brewery Master Analysis
          comparedValue: Brewery Master Analysis 2021
    BreweryScenarioUpdate:
      description: Update the Brewery Scenario by changing its name
      summary: Update the Brewery Scenario
      value:
        name: Brewery Master Analysis 2021
    BreweryScenarioUpdated:
      description: Brewery updated Scenario example
      summary: Brewery updated Scenario
      value:
        id: "1"
        name: Brewery Master Analysis 2021
        description: Brewery master reference analysis
        tags:
        - Brewery
        - reference
        ownerId: "1"
        simulatorId: "1"
        users:
        - id: "1"
          name: Bob
          roles: Editor
        - id: "2"
          name: Alice
          roles: Viewer
        analysis:
          analysisId: "1"
          datasetList:
          - "1"
          parametersValues:
          - parameterId: prefix
            varType: string
            value: ""
    BrewerySearch:
      description: Brewery search Simulation of Workspace 1 in Running state example
      summary: Brewery search Simulation example
      value:
        workspaceId: "1"
        state: Running
    BrewerySimulation:
      description: Brewery Simulation example
      summary: Brewery Simulation example
      value:
        id: "1"
        jobId: "1"
        ownerId: "1"
        workspaceId: "1"
        workspaceName: Brewery Analysis
        scenarioId: "1"
        scenarioName: Brewery Master Analysis
        simulatorId: "1"
        simulatorName: Brewery Simulator
        simulatorVersion: 1.0.0
        simulatorAnalysisId: hundred
        simulatorAnalysisName: Full simulation 100 steps
        computeSize: highcpu
        parametersHandler: analysis/hundred/parameters_handler/
        datasetValidator: analysis/hundred/validator/
        customDriver: analysis/hundred/driver/
        datasetList:
        - "1"
        parametersValues:
        - parameterId: prefix
          value: new
        sendInputToDataWarehouse: true
        dataWarehouseDB: Brewery
        resultsEventBusResourceUri: brewery
        simulationEventBusResourceUri: brewery-simulation
        state: Running
        starTime: "4/15/2021, 10:52:18.593 AM"
        nodeLabel: highcpupool
        initContainers:
        - id: azertyuiop
          envVars:
            AZURE_TENANT_ID: "12345678"
            AZURE_CLIENT_ID: "12345678"
            AZURE_CLIENT_SECRET: azertyuiop
            CSM_API_URL: https://api.comostech.com
            ADT_INSTANCE_URL: https://supply.api.weu.digitaltwins.azure.net
            ADT_QUERY: SELECT * FROM digitaltwins
            EXPORT_CSV_FILE_ABSOLUTE_PATH: /mnt/simulation-data
          image: csmphoenix.azurecr.io/azure-digital-twins-simulator-connector:latest
        - id: aqwzsx
          envVars:
            AZURE_TENANT_ID: "12345678"
            AZURE_CLIENT_ID: "12345678"
            AZURE_CLIENT_SECRET: azertyuiop
            CSM_API_URL: https://api.comostech.com
            CSM_SCENARIO_ID: "1"
            CSM_PARAMETERS_ABSOLUTE_PATH: /mnt/simulation-parameters
          image: csmphoenix.azurecr.io/cosmotech-scenario-parameters-loader:latest
        - id: yhnujki
          envVars:
            AZURE_TENANT_ID: "12345678"
            AZURE_CLIENT_ID: "12345678"
            AZURE_CLIENT_SECRET: azertyuiop
            CSM_API_URL: https://api.comostech.com
            CSM_PARAMETERS_HANDLER_PROVIDER: local
            CSM_PARAMETERS_HANDLER_PATH: analysis/hundred/parameters_handler/
            CSM_PARAMETERS_ABSOLUTE_PATH: /mnt/simulation-parameters
          image: twinengines.azurecr.io/brewery_simulator:latest
          runArgs:
          - handle-parameters
        - id: rfvtgb
          envVars:
            AZURE_TENANT_ID: "12345678"
            AZURE_CLIENT_ID: "12345678"
            AZURE_CLIENT_SECRET: azertyuiop
            CSM_API_URL: https://api.comostech.com
            CSM_DATASET_VALIDATOR_PROVIDER: local
            CSM_DATASET_VALIDATOR_PATH: analysis/hundred/validator/
            CSM_DATASET_ABSOLUTE_PATH: /mnt/simulation-data
          image: twinengines.azurecr.io/brewery_simulator:latest
          runArgs:
          - validate
        - id: qsdfghjklm
          envVars:
            AZURE_TENANT_ID: "12345678"
            AZURE_CLIENT_ID: "12345678"
            AZURE_CLIENT_SECRET: azertyuiop
            CSM_API_URL: https://api.comostech.com
            CSM_DATASET_ABSOLUTE_PATH: /mnt/simulation-data
            CSM_PARAMETERS_ABSOLUTE_PATH: /mnt/simulation-parameters
            ADX_DATA_INGESTION_URI: https://ingest-phoenix.westeurope.kusto.windows.net
            ADX_DATABASE: Brewery
          image: csmphoenix.azurecr.io/azure-data-explorer-simulation-sender:latest
        mainContainer:
          id: wxcvbn
          envVars:
            AZURE_TENANT_ID: "12345678"
            AZURE_CLIENT_ID: "12345678"
            AZURE_CLIENT_SECRET: azertyuiop
            CSM_API_URL: https://api.comostech.com
            CSM_CUSTOM_DRIVER_PROVIDER: local
            CSM_CUSTOM_DRIVER_PATH: analysis/hundred/driver/
            CSM_DATASET_ABSOLUTE_PATH: /mnt/simulation-data
            CSM_PARAMETERS_ABSOLUTE_PATH: /mnt/simulation-parameters
            CSM_CONTROL_PLANE_TOPIC: brewery-simulation
          image: twinengines.azurecr.io/brewery_simulator:latest
          runArgs:
          - -i
          - DeployedSimulation
          - --amqp-consumer
          - amqps://csm-phoenix.servicebus.windows.net/brewery
    BrewerySimulationBase:
      description: Brewery Simulation base example
      summary: Brewery Simulation base example
      value:
        id: "1"
        jobId: "1"
        ownerId: "1"
        workspaceId: "1"
        workspaceName: Brewery Analysis
        scenarioId: "1"
        scenarioName: Brewery Master Analysis
        simulatorId: "1"
        simulatorName: Brewery Simulator
        simulatorVersion: 1.0.0
        simulatorAnalysisId: hundred
        simulatorAnalysisName: Full simulation 100 steps
        computeSize: highcpu
        state: Running
        starTime: "4/15/2021, 10:52:18.593 AM"
    BrewerySimulationContainers:
      description: Brewery Simulation ran with containers information example
      summary: Brewery Simulation Containers example
      value:
        id: "1"
        jobId: "1"
        ownerId: "1"
        state: Running
        starTime: "4/15/2021, 10:52:18.593 AM"
        nodeLabel: highcpupool
        initContainers:
        - id: azertyuiop
          envVars:
            AZURE_TENANT_ID: "12345678"
            AZURE_CLIENT_ID: "12345678"
            AZURE_CLIENT_SECRET: azertyuiop
            CSM_API_URL: https://api.comostech.com
            ADT_INSTANCE_URL: https://supply.api.weu.digitaltwins.azure.net
            ADT_QUERY: SELECT * FROM digitaltwins
            EXPORT_CSV_FILE_ABSOLUTE_PATH: /mnt/simulation-data
          image: csmphoenix.azurecr.io/azure-digital-twins-simulator-connector:latest
        - id: aqwzsx
          envVars:
            AZURE_TENANT_ID: "12345678"
            AZURE_CLIENT_ID: "12345678"
            AZURE_CLIENT_SECRET: azertyuiop
            CSM_API_URL: https://api.comostech.com
            CSM_PARAMETERS_ABSOLUTE_PATH: /mnt/simulation-parameters
          image: csmphoenix.azurecr.io/cosmotech-scenario-parameters-inline:latest
          runArgs:
          - --prefix=new
        - id: yhnujki
          envVars:
            AZURE_TENANT_ID: "12345678"
            AZURE_CLIENT_ID: "12345678"
            AZURE_CLIENT_SECRET: azertyuiop
            CSM_API_URL: https://api.comostech.com
            CSM_PARAMETERS_HANDLER_PROVIDER: local
            CSM_PARAMETERS_HANDLER_PATH: analysis/hundred/parameters_handler/
            CSM_PARAMETERS_ABSOLUTE_PATH: /mnt/simulation-parameters
          image: twinengines.azurecr.io/brewery_simulator:latest
          runArgs:
          - handle-parameters
        - id: rfvtgb
          envVars:
            AZURE_TENANT_ID: "12345678"
            AZURE_CLIENT_ID: "12345678"
            AZURE_CLIENT_SECRET: azertyuiop
            CSM_API_URL: https://api.comostech.com
            CSM_DATASET_VALIDATOR_PROVIDER: local
            CSM_DATASET_VALIDATOR_PATH: analysis/hundred/validator/
            CSM_DATASET_ABSOLUTE_PATH: /mnt/simulation-data
          image: twinengines.azurecr.io/brewery_simulator:latest
          runArgs:
          - validate
        - id: qsdfghjklm
          envVars:
            AZURE_TENANT_ID: "12345678"
            AZURE_CLIENT_ID: "12345678"
            AZURE_CLIENT_SECRET: azertyuiop
            CSM_API_URL: https://api.comostech.com
            CSM_DATASET_ABSOLUTE_PATH: /mnt/simulation-data
            CSM_PARAMETERS_ABSOLUTE_PATH: /mnt/simulation-parameters
            ADX_DATA_INGESTION_URI: https://ingest-phoenix.westeurope.kusto.windows.net
            ADX_DATABASE: Brewery
          image: csmphoenix.azurecr.io/azure-data-explorer-simulation-sender:latest
        mainContainer:
          id: wxcvbn
          envVars:
            AZURE_TENANT_ID: "12345678"
            AZURE_CLIENT_ID: "12345678"
            AZURE_CLIENT_SECRET: azertyuiop
            CSM_API_URL: https://api.comostech.com
            CSM_CUSTOM_DRIVER_PROVIDER: local
            CSM_CUSTOM_DRIVER_PATH: analysis/hundred/driver/
            CSM_DATASET_ABSOLUTE_PATH: /mnt/simulation-data
            CSM_PARAMETERS_ABSOLUTE_PATH: /mnt/simulation-parameters
            CSM_CONTROL_PLANE_TOPIC: brewery-simulation
          image: twinengines.azurecr.io/brewery_simulator:latest
          runArgs:
          - -i
          - DeployedSimulation
          - --amqp-consumer
          - amqps://csm-phoenix.servicebus.windows.net/brewery
    BrewerySimulationLogs:
      description: Brewery Simulation logs with plain text example
      summary: Brewery Simulation logs  example
      value:
        simulationId: "1"
        options:
          containerIds:
          - azertyuiop
          - wxcvbn
          plainText: false
        initLogs:
        - containerId: azertyuiop
          computer: aks-highcpupool-30630301-vmss000000
          logs:
          - timeGenerated: "4/15/2021, 10:52:20.593 AM"
            entrySource: stderr
            logEntry: cannot read source file
          - timeGenerated: "4/15/2021, 10:52:21.593 AM"
            entrySource: stderr
            logEntry: stopping stream
        mainLogs:
          containerId: wxcvbn
          computer: aks-highcpupool-30630301-vmss000000
          logs:
          - timeGenerated: "4/15/2021, 10:52:22.593 AM"
            entrySource: stderr
            logEntry: cannot run simulator
          - timeGenerated: "4/15/2021, 10:52:23.593 AM"
            entrySource: stderr
            logEntry: critical error
    BrewerySimulationLogsOptions:
      description: Brewery Simulation logs options with plain text example
      summary: Brewery Simulation logs options example
      value:
        containerIds:
        - azertyuiop
        - wxcvbn
        plainText: false
    BrewerySimulationSimulator:
      description: Brewery Simulation ran with Simulator information example
      summary: Brewery Simulation Simulator example
      value:
        id: "1"
        jobId: "1"
        ownerId: "1"
        simulatorId: "1"
        simulatorName: Brewery Simulator
        simulatorVersion: 1.0.0
        simulatorAnalysisId: hundred
        simulatorAnalysisName: Full simulation 100 steps
        computeSize: highcpu
        parametersHandler: analysis/hundred/parameters_handler/
        datasetValidator: analysis/hundred/validator/
        customDriver: analysis/hundred/driver/
        datasetList:
        - "1"
        parametersValues:
        - parameterId: prefix
          value: new
        sendInputToDataWarehouse: true
        dataWarehouseDB: Brewery
        resultsEventBusResourceUri: brewery
        simulationEventBusResourceUri: brewery-simulation
        state: Running
        starTime: "4/15/2021, 10:52:18.593 AM"
        nodeLabel: highcpupool
        initContainers:
        - id: azertyuiop
          envVars:
            AZURE_TENANT_ID: "12345678"
            AZURE_CLIENT_ID: "12345678"
            AZURE_CLIENT_SECRET: azertyuiop
            CSM_API_URL: https://api.comostech.com
            ADT_INSTANCE_URL: https://supply.api.weu.digitaltwins.azure.net
            ADT_QUERY: SELECT * FROM digitaltwins
            EXPORT_CSV_FILE_ABSOLUTE_PATH: /mnt/simulation-data
          image: csmphoenix.azurecr.io/azure-digital-twins-simulator-connector:latest
        - id: aqwzsx
          envVars:
            AZURE_TENANT_ID: "12345678"
            AZURE_CLIENT_ID: "12345678"
            AZURE_CLIENT_SECRET: azertyuiop
            CSM_API_URL: https://api.comostech.com
            CSM_PARAMETERS_ABSOLUTE_PATH: /mnt/simulation-parameters
          image: csmphoenix.azurecr.io/cosmotech-scenario-parameters-inline:latest
          runArgs:
          - --prefix=new
        - id: yhnujki
          envVars:
            AZURE_TENANT_ID: "12345678"
            AZURE_CLIENT_ID: "12345678"
            AZURE_CLIENT_SECRET: azertyuiop
            CSM_API_URL: https://api.comostech.com
            CSM_PARAMETERS_HANDLER_PROVIDER: local
            CSM_PARAMETERS_HANDLER_PATH: analysis/hundred/parameters_handler/
            CSM_PARAMETERS_ABSOLUTE_PATH: /mnt/simulation-parameters
          image: twinengines.azurecr.io/brewery_simulator:latest
          runArgs:
          - handle-parameters
        - id: rfvtgb
          envVars:
            AZURE_TENANT_ID: "12345678"
            AZURE_CLIENT_ID: "12345678"
            AZURE_CLIENT_SECRET: azertyuiop
            CSM_API_URL: https://api.comostech.com
            CSM_DATASET_VALIDATOR_PROVIDER: local
            CSM_DATASET_VALIDATOR_PATH: analysis/hundred/validator/
            CSM_DATASET_ABSOLUTE_PATH: /mnt/simulation-data
          image: twinengines.azurecr.io/brewery_simulator:latest
          runArgs:
          - validate
        - id: qsdfghjklm
          envVars:
            AZURE_TENANT_ID: "12345678"
            AZURE_CLIENT_ID: "12345678"
            AZURE_CLIENT_SECRET: azertyuiop
            CSM_API_URL: https://api.comostech.com
            CSM_DATASET_ABSOLUTE_PATH: /mnt/simulation-data
            CSM_PARAMETERS_ABSOLUTE_PATH: /mnt/simulation-parameters
            ADX_DATA_INGESTION_URI: https://ingest-phoenix.westeurope.kusto.windows.net
            ADX_DATABASE: Brewery
          image: csmphoenix.azurecr.io/azure-data-explorer-simulation-sender:latest
        mainContainer:
          id: wxcvbn
          envVars:
            AZURE_TENANT_ID: "12345678"
            AZURE_CLIENT_ID: "12345678"
            AZURE_CLIENT_SECRET: azertyuiop
            CSM_API_URL: https://api.comostech.com
            CSM_CUSTOM_DRIVER_PROVIDER: local
            CSM_CUSTOM_DRIVER_PATH: analysis/hundred/driver/
            CSM_DATASET_ABSOLUTE_PATH: /mnt/simulation-data
            CSM_PARAMETERS_ABSOLUTE_PATH: /mnt/simulation-parameters
            CSM_CONTROL_PLANE_TOPIC: brewery-simulation
          image: twinengines.azurecr.io/brewery_simulator:latest
          runArgs:
          - -i
          - DeployedSimulation
          - --amqp-consumer
          - amqps://csm-phoenix.servicebus.windows.net/brewery
    BrewerySimulationStartContainers:
      description: Brewery start Simulation directly with containers example
      summary: Brewery start Simulation directly with containers example
      value:
        nodeLabel: highcpupool
        initContainers:
        - envVars:
            ADT_INSTANCE_URL: https://supply.api.weu.digitaltwins.azure.net
            AZURE_TENANT_ID: "12345678"
            AZURE_CLIENT_ID: "12345678"
            AZURE_CLIENT_SECRET: azertyuiop
          image: csmphoenix.azurecr.io/azure-digital-twins-simulator-connector:latest
        - envVars:
            ADX_DATA_INGESTION_URI: https://ingest-phoenix.westeurope.kusto.windows.net
            ADX_DATABASE: Brewery
            AZURE_TENANT_ID: "12345678"
            AZURE_CLIENT_ID: "12345678"
            AZURE_CLIENT_SECRET: azertyuiop
          image: csmphoenix.azurecr.io/azure-data-explorer-simulation-sender:latest
        mainContainer:
          envVars:
            CSM_AMQPCONSUMER_USER: k8ssender
            CSM_AMQPCONSUMER_PASSWORD: azertyuiop
          image: twinengines.azurecr.io/brewery_simulator:latest
          runArgs:
          - -i
          - DeployedSimulation
          - --amqp-consumer
          - amqps://csm-phoenix.servicebus.windows.net/brewery
    BrewerySimulationStartScenario:
[...]
